.navMenu{
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  grid-gap: 1.5rem;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
  a{
    color: white;
    margin: 0 1rem;
    &:hover{
      text-decoration: underline;
    }
    &.active{
      color: #8224e3;
      text-decoration: underline;
    }

  }

}