.posts{
  padding: 1rem;
  display: flex;
  flex-direction: column;

}
.postsList {
  display: flex;
  width: 100%;
  flex-direction: column;
}
  .sendMessageForm{
  display: flex;
}
.textarea{
  background: #f5f7fb;
  border: none;
  border-radius: 20px;
  min-height: 2rem;
  overflow: hidden;
  padding: 1rem;
  resize: none;
  width: 75%;
  outline: none;
  box-sizing: border-box;
}
.sendBtn{
  background: #06c;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: auto;
  min-height: 2rem;
  padding: 1rem;
  width: 20%;
  border: none;
  outline: none;
  box-sizing: border-box;
}
