.textarea{
    background: #f5f7fb;
    border: none;
    border-radius: 20px;
    min-height: 2rem;
    overflow: hidden;
    padding: 1rem;
    resize: none;
    width: 75%;
    outline: none;
    box-sizing: border-box;
    border:1px solid blue;
}
.inputBlock{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.errorSpan{
    position: absolute;
    top: -22px;
    left: 25%;
    display: flex;
    color: red;
}
.input{
    background: #f5f7fb;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem .5rem;
    margin: .5rem auto;
    resize: none;
    width: 75%;
    outline: none;
    box-sizing: border-box;
    border:1px solid blue;
}
.error {
    border:1px solid red;
}