
.item{
  display: flex;
  padding: 1rem 0;

    .imgName {
      width: 5rem;

      display: flex;
      margin: auto 0 0 0;
      flex-direction: column;
      padding-right: 1rem;
      .name{
        justify-content: center;
        margin: 0 auto;
      }
    }
      .message {
        min-width: 10%;
        background: #ffffff;
        border-radius: 20px 20px 20px 0;

        padding: .5rem;
        .text {
          display: flex;
          justify-content: flex-start;
        }
        .like{
          display: flex;
          justify-content: flex-end;
        }

      }
    }

