.dialogs{
 display: grid;
  grid-template-columns: 2fr 10fr;
  .dialogsList{
    border-right: 1px solid #f5f7fb;
    padding: 1rem;

    .dialog{
      border-radius: 4px;
      color: black;
      display: flex;
      padding: .5rem 1rem;
      position: relative;
      transition: all .4s;
      cursor: default;
      a{
        text-align: center;
        justify-content: center;
        margin: auto;
      }
      &:hover{
        color: #6159cb;
        text-decoration: underline;
      }
      img{
        width: 4rem;
        height: 4rem;
      }
    &.active{
      color: #8224e3;
    }
    }
  }
  .messages{
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .messagesList{
      display: block;
      width: 100%;
      height: 85%;
    .message{
      clear: both;
      display: table;
      margin: 5px 0;
      &.yourMessage{
        float: right;
        background-color: deepskyblue;
        margin-right: 20px;
        font-size: 25px;
        color: white;
      }
      &.friendMessage{
        float: left;
        background-color: orchid;
        margin-left: 20px;
        font-size: 25px;
        color: white;
      }
    }
    }
  }

}
.sendMessageForm{
  display: flex;
}
.textarea{
  background: #f5f7fb;
  border: none;
  border-radius: 20px;
  min-height: 2rem;
  overflow: hidden;
  padding: 1rem;
  resize: none;
  width: 75%;
  outline: none;
  box-sizing: border-box;
}
.sendBtn{
  background: #06c;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: auto;
  min-height: 2rem;
  padding: 1rem;
  width: 20%;
  border: none;
  outline: none;
  box-sizing: border-box;
}